name: publish-docs
on:
  push:
    branches:
      - main # mainブランチにプッシュされた時に実行
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10" # ユーザーの環境に合わせる

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs-material "mkdocstrings[python]"

      - name: Deploy to GitHub Pages
        run: |
          # これを実行すると、自動的に gh-pages ブランチが作成され公開されます
          python -m mkdocs gh-deploy --force
